body{
    background-color: #eee;
}

.image1{
    width: 100px;
    filter: invert(73%) sepia(40%) saturate(783%) hue-rotate(357deg) brightness(104%) contrast(97%);
}

.image2{
    filter: invert(62%) sepia(97%) saturate(391%) hue-rotate(62deg) brightness(94%) contrast(87%);
}

.image3{
    width: 200px;
    filter: invert(24%) sepia(61%) saturate(2031%) hue-rotate(348deg) brightness(101%) contrast(100%);
}

.image4{
    width: 100px;
    filter: invert(49%) sepia(43%) saturate(4690%) hue-rotate(173deg) brightness(94%) contrast(101%);
}